:host {

  p {
    font-size: 1em;
    color: var(--black);
  }

  aside {
    padding: 0% 30%;

    div {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: left;
      gap: 20px;
    }

    i {
      font-size: 2em;
      cursor: pointer;
    }

    hr {
      margin: 0;
    }
  }


  main {
    padding: 0% 30%;
    padding-bottom: 66px;

    .adicionar {
      background-color: var(--white);
      border: 1px solid var(--primary);
      transition: .5s;

      &:hover {
        transform: translateY(-5px);
      }

      h2 {
        width: 100%;
        color: var(--primary);
      }
    }

    .avancar {
      margin-top: 20px;
      transition: .5s;
      align-items: center;

      &:hover {
        transform: translateY(-5px);
      }

      h2 {
        color: var(--white);
        font-weight: bold;
      }

    }

  }

  .vazio {

    h1 {
      margin-top: 20px;
      text-align: center;
      color: gray;
    }

  }

  @media screen and (max-width: 576px) {

    aside {
      padding: 0% 5%;
    }

    main {
      padding: 0% 5%;
      padding-bottom: 66px;
    }

    .carrinho {
      .card {
        .qtd {
          width: 25%;
        }
      }
    }

    .item {
      margin: 0;
    }

  }


}
