<div class="form register">
  <i class="bi bi-x-lg" [routerLink]="['/', dynamicParam]"></i>
  <h1>Ola, ficamos felizes com sua volta</h1>
  <p class="p">Faça seu login</p>
  <form (ngSubmit)="onSubmitLogin()" #form="ngForm">

    <label>
      <input placeholder="Telefone: (xx) x xxxx-xxxx" type="text" name="telefone" required  [(ngModel)]="usuario.telefone" (input)="onPhoneInput($event)" autocomplete="tel"/>
    </label>

    <label>
      <input placeholder="Senha" type="password"  name="senha" required  [(ngModel)]="usuario.password" autocomplete="current-password"/>
    </label>

    <div *ngIf="erro" class="erro">
      <p>{{ erro.toUpperCase() }}</p>
    </div>

    <label for="recuperar-senha" (click)="onSubmitSenha()">
      <a>Recuperar senha</a>
    </label>

    <button type="submit">
      <h2>ENTRAR</h2>
    </button>
  </form>
</div>
<div *ngIf="getLoja() as loja" class="logo">
  <img [src]="getImageUrl(loja.logo)" alt="">
</div>
